WebServices/src/server/InsulinDoseCalculatorPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://server/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server/" schemaLocation="InsulinDoseCalculatorPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="mealtimeInsulinDose">
    <part name="parameters" element="tns:mealtimeInsulinDose"/>
  </message>
  <message name="mealtimeInsulinDoseResponse">
    <part name="parameters" element="tns:mealtimeInsulinDoseResponse"/>
  </message>
  <message name="backgroundInsulinDose">
    <part name="parameters" element="tns:backgroundInsulinDose"/>
  </message>
  <message name="backgroundInsulinDoseResponse">
    <part name="parameters" element="tns:backgroundInsulinDoseResponse"/>
  </message>
  <message name="personalSensitivityToInsulin">
    <part name="parameters" element="tns:personalSensitivityToInsulin"/>
  </message>
  <message name="personalSensitivityToInsulinResponse">
    <part name="parameters" element="tns:personalSensitivityToInsulinResponse"/>
  </message>
  <portType name="InsulinDoseCalculator">
    <operation name="mealtimeInsulinDose">
      <input ns1:Action="http://server/InsulinDoseCalculator/mealtimeInsulinDoseRequest" message="tns:mealtimeInsulinDose" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://server/InsulinDoseCalculator/mealtimeInsulinDoseResponse" message="tns:mealtimeInsulinDoseResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="backgroundInsulinDose">
      <input ns3:Action="http://server/InsulinDoseCalculator/backgroundInsulinDoseRequest" message="tns:backgroundInsulinDose" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://server/InsulinDoseCalculator/backgroundInsulinDoseResponse" message="tns:backgroundInsulinDoseResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="personalSensitivityToInsulin">
      <input ns5:Action="http://server/InsulinDoseCalculator/personalSensitivityToInsulinRequest" message="tns:personalSensitivityToInsulin" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://server/InsulinDoseCalculator/personalSensitivityToInsulinResponse" message="tns:personalSensitivityToInsulinResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

